<div class="menu">
		<ul>
			<li><a href="index.jsp">Home</a></li>		
			<li class="dropdown"><a href="javascript:void(0)"
				class="dropbtn">Tasks</a>
				<div class="dropdown-content">
					<a href="controller?command=task1">task 1</a>
					<a href="controller?command=task2">task 2</a>
					<a href="controller?command=task3">task 3</a>
					<a href="controller?command=task4">task 4</a>
					<a href="controller?command=task5">task 5</a>
					<a href="controller?command=task6">task 6</a>
					<a href="controller?command=task7">task 7</a>
				</div></li>
			<li style="float: right"><a class="active" href="controller?command=task3">About</a></li>

		</ul>
</div>